body{
	font-family: Verdana,Arial,sans-serif !important;
	font-size: 11px;
	margin: 0;
	color: #454545;
	text-anchor: middle;
	alignment-baseline: middle;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


#title{
	position:absolute;
	top:0;
	left:0;
	line-height: 35px;
	font-size: 20px;
	width: 100%;
	text-align: center;
}

#dContainer {display: inline-block; float: left; width: 400px; height: 600px; margin: 50px 5px 5px 20px; padding: 5px;}

#vizContainer {position: relative; display: inline-block; width: 800px; /*height: 600px;*/ margin: 50px 20px 20px 100px; padding: 5px; vertical-align: middle;}
	#divA, #divB {display: inline-block; position: relative; padding: 20px; border: solid 1px #ECECEC;}			
	.divA_chart {padding: 0 0 20px 0; text-align: center;}	
	.charts {}			
	.chartTitle {width: 100%; display: inline-block; margin: 0; padding: 0 0 0 0px; font-size: 12px; /*color: #3E576F;*/ background-color: white; font-weight: bold;}
	svg {overflow: hidden;}
	.plotArea {fill: rgba(255,255,255,0.01);}
	.toptMask, .rightMask, .bottomMask, .leftMask {fill: #fff}
	.line {stroke: blue; stroke-width: 1px; fill: none;}
	.area {stroke: none; fill: red; opacity: 0.2}
	
	#divA .xAxis, .yAxis {stroke: #000; shape-rendering: crispEdges; fill: none;}
	#divB .xAxis, #divB .yAxis {display: none;}
	.zoomResetBtn {	
		background-color: #ECECEC; border-radius: 5px; 
		/*stroke: black; fill: rgba(100,100,100,0.3)*/
	}
	.zoomResetText {font-size: 10px; fill: black}
	.zoomArea {fill: rgba(0,100,100,0.3)}
	
	

text {
	text-shadow: none;
	stroke: none;
	fill: #454545;
	font-weight: 500;
	font-size: 12px;
}
	
#btnBox {position: absolute; top: 20px; left: 10%;}

.diamond {fill: yellow; stroke: black;} 
.circle {fill: green; stroke: green;}
.smallX {fill: red; stroke: red;}